<launch>
    <param name="use_sim_time" value="true" />
    <arg name="project" default="LIO_Localization"/>
    
    <node pkg="tf" type="static_transform_publisher" name="base_link_joint" args="0 0 0 0 0 0 base_link chassis_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="imu_joint" args="0 0 0 0 0 0 chassis_link imu_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="gps_joint" args="0 0 0 0 0 0 chassis_link gps_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="velodyne_joint" args="0 0 0 0 0 0 chassis_link velodyne 100" />

    <!-- Parameters -->
    <rosparam file="$(find LIO_Localization)/config/params.yaml" command="load" />

    <!--- LOAM -->
    <node pkg="$(arg project)" type="$(arg project)_featureExtract"   name="$(arg project)_featureExtract"    output="screen" 	respawn="true"/>

    <node pkg="$(arg project)" type="$(arg project)_poseEstimate"   name="$(arg project)_poseEstimate"    output="screen">
    </node>

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="$(arg project)_rviz" args="-d $(find LIO_Localization)/launch/include/lio.rviz" />


    <arg name="bag_filename" default="/home/yidong/桌面/2022-02-25-13-36-53.bag"/>
    <!-- <node name="playbag" pkg="rosbag" type="play" args="clock $(arg bag_filename) -s 100 -r 1.0 " /> -->

</launch>
